{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="list-dish-head">
    <div>
        <h1>List Dish</h1>
    </div>
    <div class="add-button">
      <a href="{% url 'kitchen:dish-create' %}">+</a>
    </div>
  </div>

  <div class="search-block">
    <form action="" method="get" class="form-inline">
  {{ search_form|crispy }}
    <div>
      <input class="submit-button" style="height: 38px;" type="submit" value="submit">
    </div>
  </form>
  </div>


  {% if dish_list %}
    <div class="table-block">
        <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Dish type</th>
      </tr>
    {% for dish in dish_list %}
      <tr>
        <td>
          <a href="{% url "kitchen:dish-detail" pk=dish.id %}"> {{ dish.id }}</a>
        </td>
        <td>
          {{ dish.name}}
        </td>
        <td>
          {{ dish.description }}
        </td>
        <td>
          {{ dish.price }}
        </td>
        <td>
          {{ dish.dish_type.name }}
        </td>
      </tr>
    {% endfor %}
    </table>

    </div>
  {% else %}
    <p>There are no dish in menu</p>
  {% endif %}

{% endblock %}